/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: serif;
  background: #f6f3ef;
  overflow: hidden;
}

/* PANTALLA INICIAL */
.pantalla {
  position: fixed;
  inset: 0;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

/* TEXTO */
.texto {
  position: absolute;
  bottom: 8%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  color: #333;
  transition: opacity 0.4s ease, transform 0.4s ease;
}
body.abierto .texto {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
}


.sobre {
  position: relative;
  width: 100%;
  height: 100%;
}

/* PARTES DEL SOBRE */
.sobre-parte {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  transition: transform 1.1s ease;
}

/* PARTE SUPERIOR */
.arriba {
  top: 80%;
  transform: translate(-50%, -100%);
  z-index: 1;
}

/* PARTE INFERIOR */
.abajo {
  top: 14%;
  transform: translate(-50%, 0);
}




/* ANIMACIÓN DE APERTURA */
body.abierto .arriba {
  transform: translate(-50%, -220%);
}

body.abierto .abajo {
  transform: translate(-50%, 120%);
}



/* CONTENIDO */
.contenido {
  position: relative;
  min-height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 1.2s ease;
  z-index: 1;
}

body.abierto .contenido {
  transform: translateY(0);
}

/* DESAPARECE LA PANTALLA */
body.abierto .pantalla {
  pointer-events: none;
}
