/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: serif;
  background: #f6f3ef;
  overflow: hidden;
}

/* PANTALLA INICIAL */
.pantalla {
  position: fixed;
  inset: 0;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: opacity 0.8s ease;
}
body.abierto .pantalla {
  opacity: 0;
  pointer-events: none;
}


/* TEXTO */
.texto {
  position: absolute;
  bottom: 8%;
  width: 100%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  color: #333;
  transition: opacity 0.4s ease, transform 0.4s ease;
}
body.abierto .texto {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
}


/* CONTENEDOR DEL SOBRE */
.sobre {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 420px; /* controla tamaño en móviles */
  transform: translate(-50%, -50%);
}

/* PARTES */
.sobre-parte {
  position: absolute;
  left: 50%;
  width: 100%;
  height: auto;
  transform: translateX(-50%);
  transition: transform 1.2s ease;
  margin-top: -60%;
}

/* ARRIBA */
.arriba {
  top: 0;
  z-index: 1;
}

/* ABAJO */
.abajo {
  top: 50%;
}



/* ANIMACIÓN DE APERTURA */
body.abierto .arriba {
  transform: translate(-50%, -140%);
}

body.abierto .abajo {
  transform: translate(-50%, 140%);
}




/* CONTENIDO */
.contenido {
  position: relative;
  min-height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: transform 1.2s ease;
  z-index: 1;
}

body.abierto .contenido {
  transform: translateY(0);
}

/* DESAPARECE LA PANTALLA */
body.abierto .pantalla {
  pointer-events: none;
}


/* HERO */
.hero {
  min-height: 100vh;
  padding: 20px 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  margin-top: -40px;
  margin-bottom: -40px;
    background-image: url("img/fondo1.png");
  background-size: cover;       /* cubre toda la sección */
  background-position: center;  /* centra la imagen */
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.texto-inicio{
  display: flex;
  flex-direction: column;
 margin-top: -30vh;
}

/* TITULO */
.titulo {
  font-size: 32px;
  letter-spacing: 2px;
  
  font-weight: 400;
}

/* CONTADOR */
.contador {
  display: flex;
  gap: 25px;

}

.tiempo {
  background: #5b040471;
  padding: 12px 10px;
  border-radius: 10px;
  min-width: 65px;
  box-shadow: 12px 12px 13px 0px rgba(0,0,0,0.1);
}

.tiempo span {
  display: block;
  font-size: 22px;
  font-weight: bold;
}

.tiempo small {
  font-size: 11px;
  letter-spacing: 1px;
  color: #555;
}

/* TABLET / DESKTOP */
@media (min-width: 768px) {
  .titulo {
    font-size: 40px;
  }

  .contador {
    gap: 22px;
  }

  .tiempo {
    min-width: 80px;
    padding: 16px 14px;
  }

  .tiempo span {
    font-size: 26px;
  }
}

.separador {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.separador img {
  width: 100%;
  height: auto;
  display: block;
}
